.suspended {
    background-color: #8b8c98;
    color: #000000;
    font-weight: 600;
}

.ready {
    background-color: rgba(20, 151, 5, 0.864);
    color: #000000;
    font-weight: 600;
}

.running {
    background-color: #055fbe;
    color: #000000;
    font-weight: 600;
}

.completed {
    background-color: #c5df00;
    color: #000000;
    font-weight: 600;
}

.terminated {
    background-color: #d220d5ea;
    color: #000000;
    font-weight: 600;
}